.btn_submit {
    border-color: #4526b1;
    color: white;
    background: linear-gradient(135deg, #4526b1 0%, #5435be 45%, #7153d9 66%);
    border-radius: 27px;
    padding: 15px 25px;
    width: 100%;
    margin-top: 30px;
}

.btn_submit:hover {
    background: linear-gradient(135deg, #4526b1 0%, #7153d9 45%, #5435be 66%);
}

.half_circle {
    background-color: #7053d921;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    top: 100px;
    left: 0px;
}

.white_circle {
    background-color: #f7fafeb5;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    top: 128px;
    left: -230px;
    /* z-index: 0; */
}