@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}

body{
  font-family: "Jost", sans-serif;
  font-weight: 500;
}

:where(.css-dev-only-do-not-override-1vr7spz).ant-carousel .slick-dots li button{
  background-color: black !important;
}

:where(.css-dev-only-do-not-override-1vr7spz).ant-carousel .slick-dots li.slick-active button{
  background: black !important;
}
:where(.css-dev-only-do-not-override-1vr7spz).ant-carousel .slick-dots-bottom{
  bottom: -28px !important;
}

.Samples .ant-tabs-tab.ant-tabs-tab-active {
  border-bottom: 2px solid #7153d9 !important;
  z-index: 2;
}

.Samples :where(.css-dev-only-do-not-override-byeoj0).ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #7153d9 !important;
}

.Samples .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #7153d9 !important;
}

.Samples .ant-tabs-tab:hover {
  color: #7153d9 !important;
}